{% extends 'base.html' %}
{% block content %}
<div class="row g-4">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">Add New Teacher</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Add Teacher</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">Existing Teachers</div>
            <div class="card-body">
                <ul class="list-group">
                    {% for teacher in teachers %}
                        <li class="list-group-item">{{ teacher.name }}</li>
                    {% empty %}
                        <li class="list-group-item">No teachers added yet.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
